body {
    background-color: #333; /* Cor De Fundo Escura */
    color: #eee; /* Cor Do Texto Clara */
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.release {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #444; /* Cor De Fundo Escura Para Cada Release */
    border-radius: 5px;
}

.release a {
    color: #aaf; /* Cor Dos Links */
    text-decoration: none;
    font-weight: bold;
}

.release a:hover {
    text-decoration: underline;
}

.release .description {
    margin-top: 5px;
    font-size: 0.9em;
    color: #ccc; /* Cor Do Texto Mais Claro Para A Descrição */
}