body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo padrão */
    color: #333; /* Cor do texto padrão */
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333; /* Cor de fundo para modo escuro */
    color: #f5f5f5; /* Cor do texto para modo escuro */
}

header {
    background-color: #222; /* Cor de fundo para o cabeçalho em modo escuro */
    color: #f5f5f5;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

#downloads ul {
    list-style-type: none;
    padding: 0;
}

#downloads li {
    background-color: #444; /* Cor de fundo para os itens de download em modo escuro */
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #666;
    border-radius: 5px;
}